.data-entry-container {
    max-width: 750px;
    margin: 2rem auto;
    padding: 2rem;
  //  background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.data-entry-header {
    margin-bottom: 1.5rem;
}

.data-entry-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-entry-header h2 {
    font-size: 1.75rem;
    color: #005cbb;
}

.view-table tr td {
    vertical-align: middle;
}

.view-table tr th {
    vertical-align: middle;
}

.fit-content {
    white-space: nowrap;
    width: 1%;
}

mat-form-field.small {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
}

.no-top-border {
    border-top: none !important;
}

.no-bottom-border {
    border-bottom: none !important;
}